
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
} 
main{
  padding-top: 4em;
}
header{
  position: fixed;
  width: 100%;
  z-index: 1000;
  top: 0;
  left: 0;
}
html {
  scroll-behavior: smooth;
}
fa-regular fa-envelope{
  color: red;
}
body {
    background-color: #fff;
    height: 100vh;
}
#logo {
  display: flex;
  width: 100%;
  height: auto;
  align-items: center;
  justify-content: center;
}
.interface {
    max-width: 1280px;
    margin: 0 auto;
}

.flex {
    display: flex;
}

.btn-contato button {
    padding: 30px 40px;
    font-size: 18px;
    font-weight: 600;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.281);
    background-color: #3A7854;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    color: white;
    transition: .2s;
}

h2.titulo {
    color: #fff;
    font-size: 38px;
    text-align: center;
}
.bem-vindo{
    color: #3A7854;
}
h2.titulo span {
    color: #1e1c2a;
}


button:hover,
form .btn-enviar input:hover {
    box-shadow: 0px 0px 8px #ffffff;
    transform: scale(1.05);
}


/* links config */
a {
    font-size: 17px;
    color: #131313;
    font-family: 'Poppins';
    text-decoration: none;
    transition: 0.3s;
    font-weight: 500;
  }

  a:hover {
    opacity: 0.7;
    color: #3A7854;
  }
  /*config de cores*/
  .color-space{
    color: #3A7854;
  }
  .logo {
    font-size: 24px;
    letter-spacing: 1.8px;
    color: black;
    font-weight: 600;
  }
/* nav de pc */
  nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 0.1rem 0.5rem #ccc;
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
    background: #ffffff;
    height: 8vh;
  }

  .nav-list {
    list-style: none;
    display: flex;
  }

  .nav-list li {
    letter-spacing: 2px;
    margin-left: 32px;
  }
/* hamburg de celular */
  .mobile-menu {
    display: none;
    cursor: pointer;

  }
  .mobile-menu div {
    background-color: #1e1c2a;
    width: 32px;
    height: 2px;
    background: #131313;
    margin: 8px;
    transition: 0.3s;
  }
  .mobile-menu div.line2 {
    background: #3A7854; 
  }
/* responsividade do hamburg */  
  @media (max-width: 999px) {
    body {
      overflow-x: hidden;
    }
    
    .nav-list {
      box-shadow:0 0.1rem 0.5rem #ccc ;
      position: absolute;
      top: 8vh;
      right: 0;
      width: 50vw;
      height: 92vh;
      background: #fff;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      transform: translateX(100%);
      transition: transform 0.3s ease-in;
    }
    .nav-list li {
      margin-left: 0;
      opacity: 0;
      height: 110vh;
      margin-top: 50px;
    }
    .mobile-menu {
      display: block;
    }
  }

  .nav-list.active {
    transform: translateX(0);
  }
/* animação pronta dos links na nav */
  @keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
/* Animação do hamburg */ 
  .mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
  }

  .mobile-menu.active .line2 {
    opacity: 0;
    
  }

  .mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
  }
/* estilo do começo do site */
section.topo-do-site {
    padding: 40px 4%;
    margin-bottom: 10%;
}

section.topo-do-site .flex {
    align-items: center;
    justify-content: center;
    gap: 90px;
}

.topo-do-site h1 {
    color: #1e1c2a;
    font-size: 42px;
    line-height: 40px;
}
#bem-vindo{
    color: #3A7854;
    font-weight: 800;
    font-size: 24px;
}

.topo-do-site .txt-topo-site h1 span {
    color: #3A7854;
}

.topo-do-site .txt-topo-site p {
    color: #1e1c2a;
    margin: 40px 0;
}

.topo-do-site .img-topo-site img {
    width: 100%;
    animation: flutuar 2s ease-in-out infinite alternate;
}


@keyframes flutuar {
    0% {
        top: 0;
    }

    100% {
        top: 30px;
    }
}

/* estilo section especialidades */
section.especiliadades {
    padding: 40px 4%;
    background-color: #3A7854;
}
.img-icon{
    width: 10rem; 
    height: auto; 
    margin-bottom: 10px; 
}
#img-analise{
    width: 10rem;
    height: auto;
    margin-bottom: 10px;
}

section.especiliadades .flex {
    gap: 60px;
}

.especiliadades .especialidades-box {
    color: #1e1c2a;
    padding: 40px;
    border-radius: 20px;
    margin-top: 45px;
    transition: .2s;
    background-color: white;
}

.especiliadades .especialidades-box:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px #ffffff78;
}

.especiliadades .especialidades-box i {
    font-size: 70px;
    color: #00FF08;
}

.especiliadades .especialidades-box h3 {
    font-size: 28px;
    margin: 15px 0;
}

/* estilo seção sobre */
section.sobre {
    padding: 80px 4%;
    background-color: #3A7854;
}

section.sobre .flex {
    align-items: center;
    gap: 60px;
}

.sobre .txt-sobre {
    color: #fff;
}

.sobre .txt-sobre h2 {
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 30px;
}

.sobre .txt-sobre h2 span {
    color: #00FF08;
    display: block;
}

.sobre .txt-sobre p {
    margin: 20px 0;
    text-align: justify;
}

.btn-social button {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    background-color: #3A7854;
    font-size: 22px;
    cursor: pointer;
    margin: 0 5px;
    transition: .2s;
    
}

/* estilo "portfolio"  */
section.portfolio {
    padding: 80px 4%;
    box-shadow: 0 0 40px 10px #ffffff1d;
}

section.portfolio .flex {
    justify-content: space-around;
    margin-top: 60px;
}

.img-port {
    width: 360px;
    height: 460px;
    background-size: cover;
    background-position: 100% 0%;
    transition: 8s;
    cursor: pointer;
    border-radius: 40px;
    position: relative;
}

.img-port:hover {
    background-position: 100% 100%;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000b8;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: 600;
    color: #fff;
    opacity: 0;
    transition: .5s;
}

.overlay:hover {
    opacity: 1;
}
/* estilo section testemunhas*/

.testimonials{
    padding: 40px 0;
    background: #f1f1f1;
    color: #434343;
    text-align: center;
  }
  .inner{
    max-width: 1200px;
    margin: auto;
    overflow: hidden;
    padding: 0 20px;
  }
  
  .border{
    width: 160px;
    height: 5px;
    background: #6ab04c;
    margin: 26px auto;
  }
  
  .row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .col{
    flex: 33.33%;
    max-width: 33.33%;
    box-sizing: border-box;
    padding: 15px;
  }
  .testimonial{
    background: #fff;
    padding: 30px;
  }
  .testimonial img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }
  .name{
    font-size: 20px;  
    margin: 20px 0;
  }
  .estrelas{
    color: #6fdd40;
    margin-bottom: 20px;
  }
  
  
  @media screen and (max-width:960px) {
  .col{
    flex: 100%;
    max-width: 80%;
  }
  }
  
  @media screen and (max-width:600px) {
  .col{
    flex: 100%;
    max-width: 100%;
  }
  }
/* estilo dos contatos */
section.formulario {
    padding: 80px 4%;
}

form {
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    margin-top: 40px;
}

form input,
form textarea {
    width: 100%;
    background-color: #242424;
    border: 0;
    outline: 0;
    padding: 20px 15px;
    border-radius: 15px;
    color: #fff;
    font-size: 18px;
}

form textarea {
    resize: none;
    max-height: 200px;
}

form .btn-enviar {
    margin-top: 20px;
    text-align: center;
}

form .btn-enviar input {
    width: 120px;
    background-color: #00FF08;
    color: #000;
    font-weight: 700;
    cursor: pointer;
    transition: .2s;
}

/* estilo footer */

footer {
    box-shadow: 0 0 40px 10px #ffffff1d;
}

footer .flex {
    justify-content: space-between;
}

footer .line-footer {
    padding: 20px 0;
}

.borda {
    border-top: 2px solid #00FF08;
}

footer .line-footer p i {
    color: #00FF08;
    font-size: 22px;
}

footer .line-footer p a {
    color: #fff;
}
@media screen and (min-width:1920px){
    .txt-topo-site{
        width: 50%;
    }
}
@media screen and (max-width: 1020px) {

    /* classes gerais so site */
    .flex {
        flex-direction: column;
    }

    .topo-do-site .flex{
        flex-direction: column-reverse;
    }

    h2.titulo {
        font-size: 34px;
        line-height: 30px;
    }
    section.topo-do-site .flex {
        gap: 40px;
    }

    section.topo-do-site {
        padding: 20px 8%;
        
    }

    .topo-do-site h1 {
        font-size: 30px;
    }

    .topo-do-site .img-topo-site img {
        width: 100%;
    }

    /* ESPECIALIDADES */
    section.especiliadades {
        padding: 40px 8%;
    }

    /* SOBRE */
    section.sobre {
        padding: 80px 8%;
    }

    .sobre .txt-sobre h2 {
        font-size: 34px;
        line-height: 35px;
        text-align: center;
    }
    
    .btn-social{
        text-align: center;
    }

    .img-sobre img{
        width:100%;
    }

    /* PORTFÓLIO */
    section.portfolio {
        padding: 80px 8%;
    }
    
    .img-port {
        width: 100%;
        max-width: 360px;
        margin: 0 auto;
    }
    
    section.portfolio .flex {
       gap: 60px;
    }

    /* RODAPÉ */
    footer .flex {
        flex-direction: column;
        gap: 30px;
    }

    footer .line-footer {
        text-align: center;
    }
}

/* ESTILO PARA O FOOTER*/
.footer-safe{
  color: #1e1c2a;
}
footer {
  width: 100%;
  color: var(--color-neutral-40);
}

.footer-link {
  text-decoration: none;
}

#footer_content {
  background-color: var(--color-neutral-10);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 3rem 3.5rem;
}

#footer_contacts h1 {
  margin-bottom: 0.75rem;
}

#footer_social_media {
  display: flex;
  gap: 2rem;
  margin-top: 1.5rem;
} 

#footer_social_media .footer-link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.5rem;
  width: 2.5rem;
  color: var(--color-neutral-40);
  border-radius: 50%;
  transition: all 0.4s;
}

#footer_social_media .footer-link i {
  font-size: 1.25rem;    
}

#footer_social_media .footer-link:hover {
  opacity: 0.8;
}

#instagram {
  background: linear-gradient(#7f37c9, #ff2992, #ff9807);
}

#facebook {
  background-color: #4267b3;
}

#whatsapp {
  background-color: #25d366;
}

.footer-list {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  list-style: none;
}

.footer-list .footer-link {
  color: #1e1c2a;
  transition: all 0.4s;
}

footer h3{
  color: #3A7854;
}

footer p{
  color: #1e1c2a;
}

.footer-list .footer-link:hover {
  color: #3A7854;
}

#footer_subscribe {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

#footer_subscribe p {
  color: #1e1c2a;
}

#input_group {
  display: flex;
  align-items: center;
  background-color: var(--color-neutral-0);
  border-radius: 4px;
  color: rgb(27, 27, 27);
}

#input_group input {
  all: unset;
  padding: 0.75rem;
  width: 100%;
  border: 1px solid #000000; 
  border-radius: 4px; 
}

#input_group button {
  background-color: #3A7854;
  border: none;
  color: var(--color-neutral-40);
  padding: 0px 1.25rem;
  font-size: 1.125rem;
  height: 100%;
  border-radius: 0px 4px 4px 0px;
  cursor: pointer;
  transition: all 0.4s;
}
.logo {
  display: flex; 
  align-items: center; 
}
#logoside{
  width: 70px;
  height: auto;
}
#input_group button:hover {
  opacity: 0.8;
}

#footer_copyright {
  display: flex;
  justify-content: center;
  background-color: var(--color-neutral-0);
  font-size: 1rem;
  padding: 1.5rem;
  font-weight: 300;
  color: #000;
}

.modal {
  display: none; 
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgba(0,0,0,0.5);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto; 
  padding: 20px;
  border: 1px solid #888;
  width: 300px; 
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin: 5px 0;
}

input {
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  #footer_content {
      grid-template-columns: repeat(2, 1fr);
      gap: 2rem;
  }
  .btn-contato button{
    color: white;
  }
}

@media screen and (max-width: 426px) {
  #footer_content {
      grid-template-columns: repeat(1, 1fr);
      padding: 3rem 2rem;
  }
}

footer a {
  color: red;
}


/* Modal settings */
.modal {
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: none;
  justify-content: center;
  align-items: center;
  font-family: 'Arial', sans-serif;
}

.modal-content {
  background-color: #fff;
  padding: 30px;
  border-radius: 20px;
  width: 90%;
  max-width: 400px; 
  box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.2); 
  text-align: center;
  position: absolute; 
}

.close {
  position: absolute;
  top: 15px;
  right: 20px;
  color: #aaa;
  font-size: 24px;
  cursor: pointer;
}

.close:hover {
  color: black;
}

.modal-logo {
  width: 100px;
  margin-bottom: 20px;
}

.modal-h1 {
  font-size: 26px;
  color: #3A7854;
  margin-bottom: 10px;
}

.modal-p {
  font-size: 14px;
  margin-bottom: 30px;
  color: #666;
}

.modal-label {
  display: block;
  font-size: 12px;
  color: #3A7854;
  margin-bottom: 5px;
  text-align: left;
}

.modal-input {
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  font-size: 14px;
  color: black;
  background-color: #f9f9f9;
  transition: border-color 0.3s ease;
}

.modal-input:focus {
  border-color: #3A7854;
  outline: none;
}

.modal-button {
  background-color: #3A7854;
  color: white;
  width: 100%;
  padding: 15px;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.modal-button:hover {
  background-color: #2E6445;
  transform: scale(1.05);
}

.modal-text {
  font-size: 14px;
  color: #666;
  margin-top: 20px;
}

.modal-link {
  color: #3A7854;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

.modal-link:hover {
  color: #2E6445;
}

@media (max-width: 768px) {
  .modal-content {
    padding: 20px;
    max-width: 95%;
  }

  .modal-h1 {
    font-size: 22px;
  }

  .modal-logo {
    width: 80px;
  }

  .modal-input, .modal-button {
    font-size: 14px;
    padding: 12px;
  }

}

